.todoApp {
  background-image: url("http://gallery-img.521xiao.cn/IMG_0203.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}
